@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff2");
    font-style: normal;
}

@font-face {
    font-family: "Open Sans regal";
    src: url("../fonts/OpenSans-Regular.woff2");
    font-style: normal;
}

h2 {
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    word-spacing: 19px;
}

.link {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

header {
    display: flex;
    width: 100%;
    min-height: 630px;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

}


.button-burger {
    display: flex;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    padding: 0;
    align-self: end;


}

.burger {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    position: relative;
}

.burger::before {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
}

.burger::after {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
}


.menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans regal";
    width: 330px;
    height: 53%;
    margin-top: 41px;
}

.menu-list {
    display: none;
}

.menu-link:hover {
    display: none;
}

.logo {
    width: 270px;
    height: 60px;
    align-self: center;
    justify-items: end;
}

.intro {
    display: flex;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 1);
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    width: 330px;
    min-height: 47%;
    font-size: 26px;
    line-height: 36px;
    margin-top: 30px;
}

.trends {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title-trends {
    display: flex;
    flex-direction: column;
    line-height: 25%;
    box-sizing: border-box;
    height: 25%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.img-line {
    opacity: 0.400;
    width: 67px;
    height: 3px;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 3;
}

.trend-list {
    display: flex;
    flex-direction: column;
    min-height: 240px;
}

.trend-list-item {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 240px;
    margin-bottom: 3px;
}

.trend-list-item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.img-trend {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.border-box-trend {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid #b59f5b;
    margin: 15px 15px;
    padding: 32px;
    z-index: 2;
}

.h3-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.h3-list-link {
    padding-right: 22px;
    margin-top: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    word-spacing: 19px;
}

.h3-list-link:hover {
    text-decoration: underline;
}

.title-trend {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans regal";
    margin-top: -10px;
    margin-bottom: 0;
}

.title-trend:hover {
    color: #b59f5b;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.post-list {
    width: 100%;
    height: 100%;
}

.post-list-item {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.post-list-item:nth-child(n+2) {
    padding-top: 35px;
}

.img-post {
    display: flex;
    background-size: cover;
    background-color: #fff;
    align-items: start;
    width: 100%;
    height: 100%;
}

.frame-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
    border-bottom: 3px solid #eeeeee;
}

.h3-list {
    margin-top: 15px;
}

.h2-trend {
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    text-decoration: none;
    margin-bottom: 0px
}

.h2-trend:hover {
    color: #b59f5b;
}

.date-author {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
    margin-bottom: -5px;
}

.date {
    font-size: 12px;
    line-height: 40px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}

.author {
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: 10px;
}

.text-post {
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans regal";
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.side-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 0;
}

.new-post-aside-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 540px;
    justify-content: end;
}

.title-aside {
    color: #0f0d0e;
    word-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.new-post-aside-list-item {
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 22px;
}

.img-new-post-aside {
    width: 70px;
    height: 70px;
    margin-right: 16px;
}

.frame-new-post-aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.date-new-post-item {
    opacity: 0.6;
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

.title-new-post-aside-list-item {
    color: #0f0d0e;
    word-spacing: normal;
    margin: 0;
    padding: 0;
}

.title-new-post-aside-list-item:hover {
    color: #b59f5b;
}

.search-form {
    margin-top: 60px;
    padding: 0;
    width: 100%;
    display: flex;
    margin-bottom: 17px;
}

.input-field-search {
    width: 100%;
    height: 48px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    padding-left: 15px;
}

.input-field-search:focus {
    background-color: #f4f7f6;
    outline: none;
    border: 1px solid #b59f5b;
}

.button-search {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    padding: 15px;
}

.button-search:hover {
    background-color: #323232;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 225px;
}

.input-field-subscribe {
    height: 48px;
    margin-top: 20px;
    opacity: 0.541;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    background-color: #f4f7f6;
    border: none;
    padding-left: 15px;
}

.input-field-subscribe:focus {
    background-color: #f4f7f6;
    outline: none;
    border: 1px solid #b59f5b;
}

.button-subscribe {
    height: 48px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #b59f5b;
    border: none;
}

.button-subscribe:hover {
    background-color: #323232;
}

.tags-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160px;
}

.tags-menu-list {
    display: flex;
    flex-flow: row wrap;
    margin: 25px 0 0 0;
    width: 100%;
    height: 80px;
    padding: 0;
    list-style-type: none;
    flex-direction: row;
}

.tags-menu-list-item {
    display: flex;
    height: 25px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
    margin-right: 4px;
    margin-bottom: 0;
    padding: 0px 13px 0px 13px;
}

.tags-menu-list-item:hover {
    border: 3px solid #b59f5b;
}

.tag-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans";
    align-self: center;
}

.categories-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categories-menu-list {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.categories-menu-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eeeeee;
}

.categories-menu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}

.categories-menu-link:hover {
    color: #b59f5b;
}

.categories-menu-quantity {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: 5px;
}

.shop {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin: 20px auto 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.title-shop {
    margin-bottom: 10px;
    margin-left: 0;
}

.title-shops {
    margin-bottom: 10px;
}

.shop-list {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    flex-direction: column;
}

.shop-list-item {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
    flex-wrap: wrap;
    flex-basis: content;
}

.img-shop {
    display: flex;
    padding: 0 20px 0 20px;
}

.border-box-shop {
    display: flex;
    flex-direction: column;
    padding: 7% 25px 25px 25px;
    border: 3px solid #b59f5b;
    margin-top: -15px;
}

.text-shop {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    margin-top: 0;
}

.shop-info-link {
    font-size: 15px;
    line-height: 22px;
    color: #cebf92;
    font-weight: 400;
    font-family: "Open Sans";
    text-decoration: none;
}

.shop-info-link:hover {
    text-decoration: underline;
}

.price-shop {
    display: flex;
    flex-direction: row;
}

.price {
    width: 55%;
}

.price-sale {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans regal";
}

.price-normal {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.price-sale-currency:after {
    content: '\20BD';
}

.in-shop {
    width: 45%;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #b59f5b;
    border: none;
}

.in-shop:hover {
    background-color: #323232;
}

.end-block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    margin: 15px 0 0 0;
    padding-left: 15px;
    padding-right: 15px;
}

.social {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45%;
    background-color: #f4f7f6;
    align-items: center;
    justify-content: center;
}

.img-social {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
}

.copyrights {
    display: flex;
    width: 100%;
    height: 55%;
    align-items: center;
    justify-content: center;
}

.name-company-copyrights {
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;
}

@media (orientation:landscape) and (max-width: 768px) {
    .trend-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .trend-list-item {
        flex-basis: 49.5%;
    }

    .trend-list-item:nth-child(odd) {
        margin-right: .25%;
    }

    .trend-list-item:nth-child(even) {
        margin-left: .25%;
    }

}

@media (min-width: 641px) and (max-width: 1200px) {

    h2 {
        font-size: 18px;
        line-height: 29px;
    }

    h3 {
        font-size: 14px;
        text-transform: uppercase;
        color: #b59f5b;
        font-weight: 700;
        font-family: "Open Sans";
        word-spacing: 19px;
    }

    header {
        display: flex;
        width: 100%;
        min-height: 380px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            url("../images/banner-bg-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }


    .button-burger {
        align-self: center;
    }

    .menu {
        height: 36px;
        margin-top: 45px;
        flex-direction: row;
        width: 695px;
    }

    .logo {
        width: 160px;
        height: 36px;
        align-self: center;
    }

    .intro {
        font-family: "Open Sans regal";
        font-size: 40px;
        line-height: 55px;
        width: 615px;
        min-height: 47%;
        margin-top: 120px;
    }

    .title-trends {
        padding-bottom: 3%;
    }

    .trend-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .trend-list-item {
        flex-basis: 49.5%;
        height: 250px;
    }

    .trend-list-item:nth-child(odd) {
        margin-right: .25%;
    }

    .trend-list-item:nth-child(even) {
        margin-left: .25%;
    }

    .img-line {
        margin-top: -10px;
    }

    .h3-list-link {
        font-size: 17px;
        line-height: 22px;
    }

    .title-trend {
        font-size: 17px;
        line-height: 22px;
    }

    .post {
        flex-direction: row;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 35px;
    }

    .post-list {
        width: 390px;
        margin-right: 35px;

    }

    .post-list-item {
        flex-direction: column;
        width: 100%;
        padding-top: 50px;
    }

    .post-list-item:nth-child(n+2) {
        padding-top: 35px;
    }

    .img-post {
        width: 100%;
        min-height: 294px;
    }

    .frame-post {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 200px;
        padding-top: 15px;
        padding-bottom: 25px;
        border-bottom: 3px solid #eeeeee;
    }

    .frame-post:last-child {
        border-bottom: none;
    }

    .h3-list {
        margin-top: 0px;
    }

    .h2-trend {
        font-size: 20px;
        margin-bottom: 0px;
        line-height: 24px;
    }

    .date-author {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .text-post {
        font-size: 15px;
        line-height: 22px;
    }

    .side-bar {
        width: 270px;
        padding-top: 50px;
    }

    .new-post-aside-list {
        width: 100%;
        height: 100%;
    }

    .title-aside {
        margin-top: 0px;
        margin-bottom: 15px;
    }



    .input-field-search {
        width: 222px;
    }

    .tags-menu {
        height: 215px;
    }

    .tags-menu-list {
        height: 100px;
    }

    .tags-menu-list-item {
        margin-bottom: 5px;
        padding: 0px 14px 0px 14px;
    }

    .shop {
        padding-left: 35px;
        padding-right: 35px;
    }

    .title-shops {
        padding-bottom: 5px;
    }

    .shop-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .shop-list-item {
        margin-bottom: 25px;
        width: 48%;
        flex-basis: 48%;
    }

    .img-shop {
        padding: 0 20px 0 20px;
    }

    .border-box-shop {
        min-height: 250px;
        margin-top: -35px;
    }


    .end-block {
        padding-left: 35px;
        padding-right: 35px;
    }
}





@media (orientation:landscape) and (min-width: 641px) and (max-width: 1200px) {
    .trend-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .trend-list-item {
        flex-basis: 24%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

    .trend-list-item:nth-child(3) {
        margin-left: 0;
    }

    .trend-list-item:last-child {
        margin-right: 0;
    }

    .post {
        justify-content: center;
    }
}

@media (min-width: 1201px) {
    h2 {
        font-size: 20px;
        margin-top: 0px;
    }

    header {
        width: 100%;
        min-height: 450px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 450px;
        background: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            url("../images/banner-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }

    .button-burger {
        display: none;
    }

    .menu {
        flex-direction: row;
        width: 1170px;
        height: 41px;
    }

    .menu-list {
        display: flex;
        list-style-type: none;
        width: 492px;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: space-between;
        align-items: center;
    }

    .menu-link {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .menu-link:hover {
        text-decoration: underline;
    }

    .logo {
        width: 179px;
        height: 100%;
    }

    .intro {
        display: flex;
        width: 679px;
        min-height: 110px;
        margin-top: 93px;
        line-height: 75px;
        font-size: 44px;
        text-transform: uppercase;
        color: rgb(255, 255, 255, 1);
        font-weight: 700;
        font-family: "Open Sans";
        text-align: center;
    }

    .title-trends {
        padding-bottom: 1%;
    }

    .trend-list {
        display: flex;
        flex-direction: row;
    }

    .trend-list-item {
        width: 25%;
        position: relative;
    }

    .trend-list-item:nth-child(n+2) {
        margin-left: 4px;
    }

    .border-box-trend {
        margin: 15px 20px;
    }

    .title-trend {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Open Sans";
    }

    .post {
        flex-direction: row;
        width: 1170px;
        min-height: 1770px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .post-list {
        width: 900px;
    }

    .post-list-item {
        flex-direction: row;
    }

    .post-list-item:nth-child(n+2) {
        padding-top: 60px;
    }

    .img-post {
        width: 381px;
        height: 294px;
    }

    .frame-post {
        display: flex;
        flex-direction: column;
        width: 58%;
        min-height: 294px;
        padding-right: 120px;
        padding-left: 30px;
        padding-bottom: 0px;
        border-bottom: none;
    }

    .h3-list {
        margin-top: 0px;
    }

    .h2-trend {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 24px;
    }

    .date-author {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .text-post {
        font-size: 15px;
        line-height: 22px;
    }

    .side-bar {
        width: 270px;
        padding-top: 15px;
    }

    .title-aside {
        margin-top: 40px;
    }

    .input-field-search {
        width: 222px;
    }

    .tags-menu {
        height: 215px;
    }

    .tags-menu-list {
        height: 100px;
    }

    .tags-menu-list-item {
        margin-bottom: 5px;
        padding: 0px 14px 0px 14px;
    }

    .shop {
        width: 1170px;
        min-height: 560px;
        margin: 42px auto 0 auto;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
    }

    .title-shops {
        margin-bottom: 0px;
    }

    .shop-list {
        flex-direction: row;
    }

    .shop-list-item {
        display: flex;
        width: 350px;
        min-height: 300px;
        justify-content: center;
        margin-bottom: 0px;
        flex-basis: auto;
    }

    .border-box-shop {
        margin-top: 54%;
        margin-top: -15px;
        min-height: 200px;
    }

    .end-block {
        width: 1170px;
        height: 250px;
        margin: 35px auto 0 auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .social {
        height: 40%;
    }

    .copyrights {
        height: 100%;
    }

}

._hidden {
    visibility: hidden;
    display: none;
}