@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff2"); 
    font-style: normal;
    }

@font-face {
    font-family: "Open Sans regal";
    src: url("../fonts/OpenSans-Regular.woff2"); 
    font-style: normal;
    }
    
h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    word-spacing: 19px;
}

.link {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
 }

header {
    display: flex; 
    width: 100%;
    min-height: 450px;
}

.banner {
    display: flex;
    width: 100%;
    min-height: 450px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), 
        url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }

.menu {
    width: 459px;
    height: 12px;
    margin: 41px auto 395px 57%;
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans regal";
    text-align: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
}
    
.menu-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-link:hover {
    text-decoration: underline;
}

.logo {
    width: 179px;
    height: 41px;
    position: absolute;
    margin: 29px auto 145px 14.85%;
}

.intro {
    display: flex;
    width: 679px;
    min-height: 110px;
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    line-height: 75px;
    font-size: 44px;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 1);
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.trends {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    min-height: 440px;
    justify-items: center;
    margin-bottom: 0;
}

.title-trends {
    display: flex;
    flex-direction: column;
    line-height: 25%;  
    box-sizing:border-box;  
    height: 25%;
    padding-top: 3%;
}

.img-line {
    opacity: 0.400;
    width: 67px;
    height: 3px;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 3;
}

.trend-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 17px;
}

.trend-list-item {
    display: flex;
    position: relative;
    width: 414px;
    min-height: 320px;
    background-color: #000;
    flex-direction: column;
    z-index: 0;
    justify-content: end;
    padding: 16px 23px;
}

.trend-list-item:nth-child(n+2) {
    margin-left: 4px;
}

.img-trend {
    width: 100%;
    height: 100%;
    object-fit: fill;
    flex-shrink: 0;
    background-size: cover;
    text-align: center;
    position: absolute;
    margin: -16px -23px;
    z-index: -1;
    opacity: 0.6;
}

.border-box-trend {
    border: 3px solid #b59f5b;
    padding: 25px; 
    z-index: 1;
}

.h3-trend:hover {
    text-decoration: underline;
}

.title-trend {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    margin-top: -10px;
    margin-bottom: 0;
}

.title-trend:hover {
    color: #b59f5b;
}

.post {
    width: 1170px;
    height: 1770px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.post-list {
    width: 900px;
    height: 100%;  
}

.post-list-item {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.img-post {
    width: 381px;
    height: 294px;
    background-size: cover;
    background-color: #fff;
}

.frame-post {
    width: 58%;
    height: 294px;
    display: flex;
    flex-direction: column;
    padding-right: 120px;
    padding-left: 30px;
}

.title-post-list-item {
    margin-top: 0;
    margin-bottom: 0;
}

.title-post-list-item:hover {
    text-decoration: underline;
}

.h2-trend {
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 20px;
    line-height: 24px;
    text-decoration: none;
}

.h2-trend:hover {
    color: #b59f5b;    
}

.date-author {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.date {
    font-size: 12px;
    line-height: 40px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}

.author {
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: 10px;
}

.text-post {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans regal";
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 100%;
    padding-top: 15px;
}

.new-post-aside-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 540px;
    justify-content: end;
  }

.title-aside {
    color: #0f0d0e;
    word-spacing: normal;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.new-post-aside-list-item {
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 22px;
}

.img-new-post-aside {
    width: 70px;
    height: 70px;
    margin-right: 16px;
}

.frame-new-post-aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.date-new-post-item {
    opacity: 0.6;
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

.title-new-post-aside-list-item {
    color: #0f0d0e;
    word-spacing: normal;
    margin: 0;
    padding: 0;
}

.title-new-post-aside-list-item:hover {
    color: #b59f5b;    
}

.search-form {
    margin-top: 60px;
    padding: 0;
    width: 100%;
    display: flex;
    margin-bottom: 17px;
}

.input-field-search {
    width: 222px;
    height: 48px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    padding-left: 15px;
}

.input-field-search:focus {
    background-color: #f4f7f6;
    outline: none;
    border: 1px solid #b59f5b;
}

.button-search {    
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    padding: 15px;
}

.button-search:hover {
    background-color: #323232;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 225px;
}

.input-field-subscribe {
    height: 48px;
    margin-top: 20px;
    opacity: 0.541;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    background-color: #f4f7f6;
    border: none;
    padding-left: 15px;
}

.input-field-subscribe:focus {
    background-color: #f4f7f6;
    outline: none;
    border: 1px solid #b59f5b;
}

.button-subscribe {
    height: 48px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #b59f5b;
    border: none;
}

.button-subscribe:hover {
    background-color: #323232;
}

.tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 215px;
}

.tags-menu-list {
    display: flex;
    flex-flow: row wrap;
    margin: 25px 0 0 0;
    width: 100%;
    height: 100px;
    padding: 0;
    list-style-type: none;
    flex-direction: row;
}

.tags-menu-list-item {
    display: flex;
    height: 25px;
    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;
    margin-right: 4px;
    margin-bottom: 5px;
    padding: 0px 14px 0px 14px;
}

.tags-menu-list-item:hover {
    border: 3px solid #b59f5b;
}

.tag-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;;
    font-weight: 700;
    font-family: "Open Sans";
    align-self: center;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categories-menu-list {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.categories-menu-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eeeeee;
}

.categories-menu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}

.categories-menu-link:hover {
    color: #b59f5b;
}

.categories-menu-quantity {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: 5px;
}

.shop {
    width: 1170px;
    min-height: 560px;
    margin: 42px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.title-shop {
    margin-bottom: 10px;
    margin-left: 0;
}

.shop-list {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
    align-items: start;
    align-content: center;
}

.shop-list-item {
    display: flex;
    width: 350px;
    min-height: 435px;
    justify-content: center; 
}

.img-shop {
    display: flex;
    position: absolute;
}

.border-box-shop {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 7% 25px 25px 25px;
    margin-top: 50%;
    border: 3px solid #b59f5b;
}

.text-shop {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    margin-top: 0;
}

.shop-info-link {
    font-size: 15px;
    line-height: 22px;
    color: #cebf92;
    font-weight: 400;
    font-family: "Open Sans";
    text-decoration: none;
}

.shop-info-link:hover {
    text-decoration: underline;
}

.price-shop {
    display: flex;
    flex-direction: row;
}
.price {
    width: 55%;
}

.price-sale {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans regal";   
}

.price-normal {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.price-sale-currency:after {
    content: '\20BD'; 
}

.in-shop {
    width: 45%;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #b59f5b;
    border: none;
}

.in-shop:hover {
    background-color: #323232;
}

.end-blox {
    width: 1170px;
    height: 250px;
    margin: 35px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.social {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    background-color: #f4f7f6;
    align-items: center;
    justify-content: center;
}

.img-social {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
}

.copyrights {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.name-company-copyrights {
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;
}